# Configurações interna
PORT=""
FRONT_URL=""
BACKEND_URL=""

# Serviços que complementam o sistema 
PY_SERVICE_URL=""
IBGE_SERVICE_URL=""

# Autenticação para a documentação
DOCS_USER=""
DOCS_PASSWORD=""